
html {
	margin: 0;
}
html, body {
	font-family: 'Titillium';
	font-weight: lighter;
	font-size: 20px;
	line-height: 1.3em;
	color: #444;
	margin: 0;
	height: 100%;
}

body {
	background-color: #0e4c83;
}

.body {
	padding: 1px 0 30px 0;
	overflow: hidden;
}

.body .container {
	padding-bottom: 50px;
}

.container ul {
	margin-bottom: 0;
}

.yellowBarBottom .container {
	padding: 0;
}

.header {
	background-color: #0e4c83;

	.container {
		padding-top: 14px;
		padding-bottom: 12px;
	}
}

.Home {

	.header {
		.hero {

			background: url('/assets/images/back-img.jpg') no-repeat center;
			background-size: cover;
			height: 600px;
		}

		.hero:before {
			content: "";
			position: absolute;
			top: 121px;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: linear-gradient(black,black);
    		opacity: .3;
		}

		.hero .container {
			height: 40vw;
			max-height: 530px;
			min-height: 200px;
		}
	}

	.body {
		padding: 0;
	}
}

.nav ul .first.price-plans {
	width: 120px;
}

td {
	vertical-align: top;
}
h1, h2, h3, button, .subtitle {
	font-family: 'Titillium',Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1.25em;
}

h1 {
	font-size: 48px;
	line-height: 1.25em;
	color: #0e4c83;
	margin-bottom: 40px;
}


.clear {
	clear:both;
}

.scrollableTable {
	overflow-x: auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto 0;
	position: relative;
	padding: 0 10px;

	h2 {
		margin-top: 35px;
		font-size: 1.5em;
	}
}

.header {
	position: relative;

	h1 {
		font-weight: bold;
		margin: 0;
		padding-top: 46px;
		color:white;
		font-size: 45px;
		line-height: 1;
		padding-bottom: 0;

	}
	.subtitle {
		color:white;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 4px;
		padding-bottom: 46px;
		display: block;
	}

	a {
		color: white;
	}

}

.body, .mceContentBody {
	background: #fff;
	position: relative;
	font-size: 20px;
}

.footer {

	background-color: #0e4c83;
	padding-top: 50px;
	padding-bottom: 12px;
	color: #333;
	position: relative;
	width: 100%;
	bottom: 0;

	a {
		color: white;
	}
}

a {
	color: #217ccc;
	text-decoration: none;
	cursor: pointer
}

a:hover, a:focus {
	text-decoration: underline;
}

a img {
	border: 0
}

label {
	float: left;
	display: block;
	padding-top: 3px;
	width: 240px;
	text-align: right;
	padding-right: 5px;
	font-size: 21px;
}

label.check {
	float: none;
	display: inline;
	padding: 0;
	font-weight: normal;
	width: auto;
	text-align: inherit
	font-size: inherit;
}

.formtext {margin-left:245px;}

textarea {
	height: 100px;
	width: 380px;
	max-width: 100%;
}
input {
	width:250px;
	margin-bottom: 8px
}
input[type=checkbox], .check input { width:auto}

/** Main Navigation Menu **/

.nav {
	padding: 0;
	float: right;
	position: absolute;
	right: 5px;
    top: 0px;
	margin-top: 50px;
	margin-right: 52px;
	margin-right: 52px;
}
.nav li:first-child {
	border-left: 0
}
.nav li {
	list-style: none;
	display: inline-block;
	position:relative;
}

.nav li.home,
.nav li.request-a-quote {
	display: none;
}

.container p {
	margin-bottom: 0;
}

.nav li a {
	font-family: 'Titillium',Arial,Helvetica,sans-serif;
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding: 0 10px 15px 15px;
	color: white;
	z-index:220;
	position:relative;
}

.nav li.join-us {
	background-color: #fed702;
	border-radius: 3px;
	height: 40px;
	width: 100px;
	transition: 0.3s;
	margin-left: 16px;
	text-decoration: none;


	a, a span {
		padding: 0;
		line-height: 40px;
		width: 100px;
		display: block;
		color: #0e4c83;
		text-transform: capitalize;
	}
}

.nav li.join-us:hover {
	background-color: white;
}

.nav li.join-us ul li {
	display: none;
}

.nav li ul li{

	a {
		font-size: 18px;
		text-transform: none;
		color: white;
	}
}
.nav li:last-child a {
	padding-right: 0;
}
.nav li.request-a-quote {
	float: right;
	border:0;
}

.nav li:any(.activechild, .active) > a, .nav li a:any(:hover, :focus) {
	text-decoration: underline;
}

.nav .join-us a:any(:hover, :focus) {
	text-decoration: none;
}

.nav li.hassub li a:after {display:none}
.nav li.hassub:any(.activechild, .active) a, .nav li.hassub a:any(:hover, :focus), .nav li.hassub:hover a {
	/*color:#3FAE49;*/
}

.nav li.active li a, #nav  li.activechild  li a {
	background: none;
}

.nav li.hassub ul {
	display: none;
	position: absolute;
	margin: 0;
	padding:0;
	width: 265px;
	top:35px;
	z-index:200;
	background-color: rgba(42,76,118,0.8);
}
.nav li.hassub ul ul {
	left: 100%;
	width: 200px;
	top:-1px;
	z-index: 190;
}
.nav li.hassub li {
	padding: 0;
	display: block;
	float: none;
	width: 100%;
	margin: 0;
	height: 35px;
	border: 0;
	float: left;
	font-size: 14px;
}
.nav li.hassub li:first-child {
	border: 0;
}
.nav li.hassub li li a {
	text-align: left;
}
.nav li.hassub li a {
	text-align: left;
	margin: 0 0 0 10px;
	height: 35px;
	float: none;
	padding:0 5px;
	background:none;
	line-height: 35px;
	display: block;

}
.nav li.hassub li a, .nav li.hassub:any(.active, .activechild, :hover, :focus) li a {
	border: 0;



}
.nav li.hassub li a:any(:hover, :focus), .nav li.hassub li.active > a, .nav li.activechild.hassub li a:any(:hover, :focus), .nav li.activechild li.active > a {
	/*color:#3FAE49;*/
}
.nav li.hassub li.first a {
}

.nav li:hover ul ul, .nav li.over ul ul {
	display: none;
}
.nav li:hover ul, .nav li li:hover ul, .nav li.over ul, .nav li li.over ul {
	display: block;
}/* The magic */
.nav ul li:hover ul {
	display: block;
}

.nav li.disabled a {
	background: #FFCC00;
	color: #444
}
.nav li.hassub li.disabled a, .nav li.disabled li a {
	background: #FFCC00;
	color: #444
}

form button,
form .button {
	background-color: #fed702;
	border:0;
	color: #0e4c83;
	padding: 6px 20px;
	font-size: 24px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: #C5A700;
	}
}


#menu-switcher {
	display: none;
}

img, iframe {
	max-width: 100% !important;
	height: auto;
}

.iframeContainer iframe {
	min-height: 965px;
	padding-top: 5px;
	margin-bottom: -5px;							/*	FILTHY NEGATIVE MARGIN!!  Fix later...	*/
}


.error {
	padding:10px;
	margin: 0 auto;
	margin-bottom:20px;
	max-width: 500px;
}

.copyright{
	color: white;
	line-height: 110%;
	padding-bottom: 18px;

	a {
		color: white;
		text-decoration: underline;
	}
	#line1, #line2 {
		font-size: 14px;
		font-weight: lighter;
	}
}

.third label {
	text-align: left;
	min-width: 400px;
	padding-top: 15px;
}

#insightTxt{
	font-family: 'Titillium';
	font-weight: 600;
	position: absolute;
	bottom: 37px;
	font-size: 72px;
	width: 500px;
	display: inline-block;
	color: white;
	text-shadow: 0 0 8px rgba(0,0,0,0.2);
	line-height: 86px;

	a {
		font-weight: bold;
		font-size: 21px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 2px solid white;
	}
}

#headerLogo {
	display: block;
	width: 205px;
	height: 95px;
	background-image: url("/assets/images/payless-energy.png");
    background-size: contain;
	background-repeat: no-repeat;
	margin-left: 50px;
}

.subTitle {
	font-weight: bold;
	color: #666;
}

#shopContentsWrapper {
	overflow: hidden;
}

#shopContents {
	margin: 0 -20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 55px;

	a {
		font-size: 21px;
		font-weight: bold;
		text-transform: uppercase;
		#217ccc;
	}

	p {
		font-size: 16px;
	}

	.product_category {
		display: block;
		flex: 1;
		margin: 20px;
	}

	img {
		max-width: 100%;
	}
}

.Home .body > .container {
	width: auto;
	max-width: none;
	padding: 0;
}
.homeContent {

	.yellowBlurb {
		background-color: #fed702;
		padding: 75px 0;

		.yellowBlurbText {

			max-width: 800px;
			margin: 0 auto;

			p:first-child {
				font-size: 35px;
				margin-top: 0;
				margin-bottom: 30px;
				line-height: 40px;
			}

			p {
				font-size: 24px;
				line-height: 30px;
				margin-top: 0;
				margin-bottom: 5px;
			}

			span {
				position: relative;
				float: right;
				font-size: 12px;
			}
		}
	}
}

.yellowBlurb:before, .yellowBlurb:after {
	content: "";
    position: absolute;
    background-color: #fed702;
    width: 9999px;
    top: 0;
    bottom: 0;
}


.yellowBlurb:after {
	left: 100%;
}

.yellowBlurb:before {
	right: 100%;
}

.paylessDifferent {
	text-align: center;

	h2 {
		font-size: 48px;
		font-weight: lighter;
		line-height: 60px;
		padding-bottom: 50px;
		margin-top: 58px;
	}

	ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 1000px;
		margin: 0 auto;
	}

	li {
		flex: 1;
		max-width: 310px;
		list-style-type: none;
		h4 {
			font-size: 28px;
			margin: 0 0 10px 0;
		}
	}

	li p:first-child {
		font-size: 28px;
		font-weight: lighter;
		line-height: 32px;
    	margin: 12px 0;
	}

	li p:nth-child(2) {
		text-align: center;
		margin: 0 auto;
		font-weight: lighter;
		font-size: 16px;
		line-height: 22px;
	}

	li:last-child {
		max-width: 330px;
	}

	#nzOwned:before {
		content: "";
		background-image: url("/assets/images/nzOwned.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: inline-block;
		width: 80px;
		height: 100px;
	}

	#nzOwned p:nth-child(2) {
		width: 190px;
	}

	#localService:before {
		content: "";
		background-image: url("/assets/images/localService.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: inline-block;
		width: 100px;
		height: 80px;
		margin-top: 20px;
	}

	#localService p:nth-child(2) {
		width: 205px;
	}

	#communitySupport:before {
		content: "";
		background-image: url("/assets/images/communitySupport.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: inline-block;
		width: 100px;
		height: 90px;
		margin-top: 10px;
	}

	#communitySupport p:nth-child(2) {
		width: 255px;
	}
}

.homeContent {
	.infoBoxes {
		padding-top: 70px;
		position: relative;
		width: 100vw;
		left: calc(-50vw + 50%);

		ul {
			padding-left: 8px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 100vw;
			margin: 0 auto;
			height: 100%;
		}

		li {
			flex: 1;
			list-style-type: none;
			h4, p {
				margin:5px auto;
				max-width: 475px;
				padding: 0 10px;
			}
			height: 100%;
			text-align: center;
		}

		h4 {
			color: white;
		}

		a, p {
			color: white;
		}

		li:before {
			background-color:rgba(42,76,118,0.8)
		}

		.infoBoxBack {
			background-color: rgba(14, 76, 131, 0.8);
			height: 100%;
			min-height: 400px;
		}

		#joinUs {
			background-image: url("/assets/images/join_us.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		#pricing {
			background-image: url("/assets/images/piggy_bank.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		#business {
			background-image: url("/assets/images/business_workshop.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}



		.pricingText, .businessText, .joinUsText {
			padding-top: 85px;
			margin: 0 auto;
		}

		.pricingText h4, .businessText h4, .joinUsText h4 {
			font-size: 36px;
			font-family: "Titillium";
			font-weight: 600;
			padding-bottom: 50px;
		}

		.pricingText a, .joinUsText a, .businessText a {
			display: block;
			margin-top: 40px;
			text-transform: uppercase;
		}

		.pricingText a:after, .businessText a:after, .joinUsText a:after{
			position: absolute;
			content:"";
			margin-top: 6px;
			margin-left: 15px;
			border: 8px solid transparent;
			width: 0;
			height: 0;
			border-left-color: white;
		}
	}
}

.questions {
	margin: 0 auto;
	max-width: 1200px;
	margin-bottom: 0;
	margin-top: 25px;

	h2 {
		text-align: center;
		color: #0e4c83;
		margin: 0;
		font-size: 48px;
		line-height: 48px;
		padding: 0;
		font-weight: lighter;
	}

	ul {
		margin-top: 0;
		list-style: none;
		padding: 0;

		li {
			color: #0e4c83;
			font-size: 24px;
			line-height: 34px;
			font-weight: lighter;
			margin-left: 15px;
			margin-right: 15px;
			padding: 13px 0;
			border-bottom: 1px solid #0e4c83;
		}
		.answer {
			display: none;
			color: #333;
			font-size: 18px;
			font-weight: lighter;
			&:before {
				content: "";
				display: block;
			}

			a {
				color: #217ccc;
				text-decoration: underline;
			}
		}

		em {
			float: right;
			margin-right: 2px;
			margin-top: 10px;
			border: solid #0e4c83;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			font-size: 36px;
			transition: transform .3s ease-in-out;
		}

		.up {

			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}

		.down {
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}

	.container {
		padding-bottom: 0;
	}
}

.Home .questions {
	margin-top: 80px;
	margin-bottom: 95px;

	ul {
		margin-top: 40px;
	}

	.container {
		padding-bottom: 50px;
	}
}

.nav li ul li:last-child {
	padding-bottom: 12px;
}

.yellowBarBottom {
    background-color: #fed702;
	width: 100vw;
    left: calc(-50vw + 50%);
	position: relative;

	table {
		margin: 0 auto;
		text-align: center;
		line-height: 100px;
		font-size: 20px;

		#joinUs {
			margin-left: 20px;
			background-color: #0e4c83;
			border-radius: 3px;
			padding: 5px 14px;
			height: 40px;
			width: 100px;
			color: white;
			font-size: 24px;
			font-weight: 600;
			transition: 0.3s;
			text-decoration: none;
		}

		#joinUs:hover {
			background-color: white;
			color: #0e4c83;
		}
	}
}


.brands1 {
	margin-bottom: 38px;

	a {
		margin-bottom: 0;
	}
}

.brands2 {

}

table {
	margin-top: 50px;
}

.brands2 a, .brands1 a {
	margin-top: 30px;
}

h2 {
	margin: 0px;
	font-weight: lighter;
	color: #0e4c83;
	padding-bottom: 23px;
}

.contentContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	h4 {
		font-weight: bold;
		color: #666;
		padding: 0px;
	}

	.leftContent {
		padding-top: 5px;
		flex: 2;
		padding-right: 70px;

		.subTitle {
			font-weight: bold;
			color: #666;
		}

		p {
			font-size: 20px;
		}
	}

	p, li {
		font-family: 'Roboto';
	}

	.rightContent {
		background-color: #F4F4F4;
		flex: 3;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px;

		h3 {
			font-weight: bold;
			color: #0e4c83;
			text-transform: uppercase;
			font-size: 25px;
		}

		h4 {
			margin-top: 35px;
			margin-bottom: 10px;
			font-size: 16px;
		}

		h4 + p,
		h4 + p + p,
		h4 + p + p + p {
			margin-top: 10px;
			font-size: 16px;
			line-height: 25px;
		}

		label {
			width: 90px;
			text-align: left;
		}

		.subTitle {
			color: #666;
		}
	}
}

.name a {
	font-family: 'Titillium';
	font-weight: bold;
}

.footer a:hover,
.footer a:focus {
	color: #ddd;
}

.footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 38px;
}

.contactDeets {
	text-align: right;
}

.footerMenu p:first-child, .contactDeets p:first-child {
	font-weight: 600;
	color: white;
	margin-bottom: 8px;
	margin-top: 0;
	line-height: 18px;
	font-size: 24px;
}

.footerMenu a {
	font-weight: lighter;
	font-size: 24px;
	line-height: 38px;
	border-bottom: 1px solid white;
	text-decoration: none;
}


.footerMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footerLogo {
	background-image: url("/assets/images/payless-energy.png");
	display: block;
    width: 205px;
    height: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#facebookButton {
	font-family: 'FontAwesome';
	font-size: 32px;
}


.copyright, .footerMenu, .contactDeets {
	padding-left: 10px;
	padding-right: 10px;
}
.contactDeets p:first-child {
	line-height: 26px;
}
.contactDeets a {
	display: block;
	margin-bottom: 8px;
}

#pricePlansExplained, #pricePlansExplained tr, #pricePlansExplained td, #termsTable, #termsTable tr, #termsTable td {
	border: 1px solid black;
	padding: 10px;
}

#pricePlansExplained, #termsTable {
	border-collapse: collapse;
}

.doubleArrows:before {
	font-family: 'FontAwesome';
	content: "\f07e";
	font-size: 56px;
	color: #0e4c83;
}

.doubleArrows {

	vertical-align:middle;
	height: 1px;
}

.aboutUsVid {
	width: 600px;
	height: 400px;
	margin-bottom: 75px;

	p {
		width: 100%;
		height: 100%;
	}

	iframe {
		height: 400px;
	}
}

.About h3 {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.aboutUsMap iframe {
	width: 100%;
	height: 600px;
}

.main-content {
	padding-bottom: 75px;
	padding-top: 50px;

	h3 {
		max-width: 540px;
		margin: 40px auto;
		font-weight: 600;
		font-size: 38px;
	}

	form {
		max-width: 530px;
		margin: 0 auto;
		padding: 0;

		label {
			width: 80px;
		}
	}
}

.brands2, .brands1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.brands2 a img, .brands1 a img{
	max-width: 270px !important;
	margin: 0 20px;
}


a {
	text-decoration: underline;
}

.nav li a {
	text-decoration: none;
}

.outageLinks {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;

	td{
		min-width: 205px;
	}
}

#customerLoginButton {
	font-weight: bold;
	display: block;
	height: 40px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
   	width: 100px;
	background-color: #fed702;
	border-radius: 3px;
	transition: .3s;
	color: #0e4c83;
}

#customerLoginButton:hover {
	background-color: #C5A700;
}

.termsTableContainer {
	overflow-x: auto;
}


.Home .body .container {
	padding-bottom: 0;
}
